<div class="post-create-container">
  <form (ngSubmit)="onSubmit()" class="post-create-form">
    <div class="form-group">
      <input type="text" [(ngModel)]="title" name="title" placeholder="Título del post" required
        class="post-input title-input" />
    </div>

    <div class="form-group">
      <textarea [(ngModel)]="content" (ngModelChange)="onContentChange()" maxlength="280" name="content" rows="4"
        placeholder="¿Qué está pasando {{ username }}?" required class="post-input content-input no-scroll"></textarea>


      <!-- CONTADOR -->
      <div class="char-counter" [ngClass]="{
       'warning': contentLength > maxLength * 0.8 && contentLength <= maxLength,
       'danger': contentLength >= maxLength
     }">
        {{ contentLength }}/{{ maxLength }}
      </div>


      <!-- MENSAJE DE ERROR -->
      <p class="error-msg" *ngIf="showError">
        ⚠️ No puedes publicar un post vacío.
      </p>


    </div>

    <div class="form-actions">
      <button class="post-button" 
      [disabled]="!title.trim() || !content.trim()">
        PUBLICAR
      </button>
    </div>
  </form>
</div>